kmtronic-template-node-red.json
[{"id":"dd2fe7c6.6f5358","type":"tab","label":"Relay Control","disabled":false,"info":""},{"id":"1f63a62b.ecfbda","type":"ui_switch","z":"dd2fe7c6.6f5358","name":"KMtronic 1","label":"KM 1","tooltip":"","group":"89914d6b.aa5ac","order":10,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-circle","oncolor":"lime","offvalue":"false","offvalueType":"bool","officon":"fa-circle","offcolor":"red","x":630,"y":134.9999885559082,"wires":[["d07ff499.013ad8"]],"icon":"node-red/node-changed.png"},{"id":"d07ff499.013ad8","type":"switch","z":"dd2fe7c6.6f5358","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":811.5,"y":135.9999885559082,"wires":[["6cdceda6.c01e14"],["6fb53b41.e26754"]]},{"id":"6fb53b41.e26754","type":"http request","z":"dd2fe7c6.6f5358","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.110.12/FF0100","tls":"","proxy":"","authType":"basic","x":991,"y":157.9999885559082,"wires":[[]]},{"id":"6cdceda6.c01e14","type":"http request","z":"dd2fe7c6.6f5358","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.110.12/FF0101","tls":"","proxy":"","authType":"basic","x":987,"y":114.9999885559082,"wires":[[]]},{"id":"414598ca.b0f218","type":"ui_switch","z":"dd2fe7c6.6f5358","name":"KMtronic 2","label":"KM 2","tooltip":"","group":"89914d6b.aa5ac","order":11,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-circle","oncolor":"lime","offvalue":"false","offvalueType":"bool","officon":"fa-circle","offcolor":"red","x":621,"y":224.9999885559082,"wires":[["a2edda26.244978"]],"icon":"node-red/node-changed.png"},{"id":"a2edda26.244978","type":"switch","z":"dd2fe7c6.6f5358","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":802.5,"y":225.9999885559082,"wires":[["48e8d415.16ddfc"],["e02acc07.25d35"]]},{"id":"e02acc07.25d35","type":"http request","z":"dd2fe7c6.6f5358","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.110.12/FF0200","tls":"","proxy":"","authType":"basic","x":982,"y":247.9999885559082,"wires":[[]]},{"id":"48e8d415.16ddfc","type":"http request","z":"dd2fe7c6.6f5358","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.110.12/FF0201","tls":"","proxy":"","authType":"basic","x":978,"y":204.9999885559082,"wires":[[]]},{"id":"ec2c1289.f091c","type":"ui_switch","z":"dd2fe7c6.6f5358","name":"KMtronic 3","label":"KM 3","tooltip":"changes the direction of the 40M beam","group":"89914d6b.aa5ac","order":12,"width":"0","height":"0","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-circle","oncolor":"lime","offvalue":"false","offvalueType":"bool","officon":"fa-circle","offcolor":"red","x":620,"y":318.9999885559082,"wires":[["b4309a22.33ed28"]],"icon":"node-red/node-changed.png"},{"id":"b4309a22.33ed28","type":"switch","z":"dd2fe7c6.6f5358","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":801.5,"y":319.9999885559082,"wires":[["e11efb03.510998"],["d4b74519.830bd8"]]},{"id":"d4b74519.830bd8","type":"http request","z":"dd2fe7c6.6f5358","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.110.12/FF0300","tls":"","proxy":"","authType":"basic","x":981,"y":341.9999885559082,"wires":[[]]},{"id":"e11efb03.510998","type":"http request","z":"dd2fe7c6.6f5358","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.110.12/FF0301","tls":"","proxy":"","authType":"basic","x":977,"y":298.9999885559082,"wires":[[]]},{"id":"cf5233f6.27dbd","type":"ui_switch","z":"dd2fe7c6.6f5358","name":"KMtronic 4","label":"KM 4","tooltip":"","group":"89914d6b.aa5ac","order":14,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-circle","oncolor":"lime","offvalue":"false","offvalueType":"bool","officon":"fa-circle","offcolor":"red","x":611,"y":408.9999885559082,"wires":[["284ba20c.e6b02e"]],"icon":"node-red/node-changed.png"},{"id":"284ba20c.e6b02e","type":"switch","z":"dd2fe7c6.6f5358","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":792.5,"y":409.9999885559082,"wires":[["c9b4c719.d81488"],["6d2fa314.ff532c"]]},{"id":"6d2fa314.ff532c","type":"http request","z":"dd2fe7c6.6f5358","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.110.12/FF0400","tls":"","proxy":"","authType":"basic","x":972,"y":431.9999885559082,"wires":[[]]},{"id":"c9b4c719.d81488","type":"http request","z":"dd2fe7c6.6f5358","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.110.12/FF0401","tls":"","proxy":"","authType":"basic","x":968,"y":388.9999885559082,"wires":[[]]},{"id":"4a8357dc.e63ff8","type":"ui_switch","z":"dd2fe7c6.6f5358","name":"KMtronic 5","label":"KM 5","tooltip":"","group":"89914d6b.aa5ac","order":15,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-circle","oncolor":"lime","offvalue":"false","offvalueType":"bool","officon":"fa-circle","offcolor":"red","x":606,"y":499.9999885559082,"wires":[["cb1d26ad.fdf918"]],"icon":"node-red/node-changed.png"},{"id":"40fe6d88.527b24","type":"http request","z":"dd2fe7c6.6f5358","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.110.12/FF0500","tls":"","proxy":"","authType":"basic","x":970,"y":521.9999885559082,"wires":[[]]},{"id":"7a5672e0.dc44ac","type":"http request","z":"dd2fe7c6.6f5358","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.110.12/FF0501","tls":"","proxy":"","authType":"basic","x":970,"y":481.9999885559082,"wires":[[]]},{"id":"727767c.17c1298","type":"switch","z":"dd2fe7c6.6f5358","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":620,"wires":[["6e490b82.05d4f4"],["a9d425a9.a06ae8","b97088fd.602418"]]},{"id":"a9d425a9.a06ae8","type":"http request","z":"dd2fe7c6.6f5358","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.110.12/FF0600","tls":"","proxy":"","authType":"basic","x":976.9999771118164,"y":613.0000915527344,"wires":[[]]},{"id":"6e490b82.05d4f4","type":"http request","z":"dd2fe7c6.6f5358","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.110.12/FF0601","tls":"","proxy":"","authType":"basic","x":980.0000152587891,"y":568.0001029968262,"wires":[[]]},{"id":"659c4344.9c812c","type":"ui_switch","z":"dd2fe7c6.6f5358","name":"KMtronic 7","label":"KM 7","tooltip":"","group":"89914d6b.aa5ac","order":13,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-circle","oncolor":"lime","offvalue":"false","offvalueType":"bool","officon":"fa-circle","offcolor":"red","x":603,"y":682.9999885559082,"wires":[["aed0094a.5bb8e8"]],"icon":"node-red/node-changed.png"},{"id":"aed0094a.5bb8e8","type":"switch","z":"dd2fe7c6.6f5358","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":781.5,"y":682.9999885559082,"wires":[["df4e81f0.4ff0e"],["89890486.00ccf8"]]},{"id":"89890486.00ccf8","type":"http request","z":"dd2fe7c6.6f5358","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.110.12/FF0700","tls":"","proxy":"","authType":"basic","x":967,"y":704.9999885559082,"wires":[[]]},{"id":"df4e81f0.4ff0e","type":"http request","z":"dd2fe7c6.6f5358","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.110.12/FF0701","tls":"","proxy":"","authType":"basic","x":967,"y":664.9999885559082,"wires":[[]]},{"id":"369f42c1.7b3a7e","type":"ui_switch","z":"dd2fe7c6.6f5358","name":"KMTronic 8","label":"KM 8","tooltip":"","group":"89914d6b.aa5ac","order":2,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"KM8","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-circle","oncolor":"lime","offvalue":"false","offvalueType":"bool","officon":"fa-circle","offcolor":"red","x":607,"y":770.9999885559082,"wires":[["3b5919a5.d603c6"]],"icon":"node-red/node-changed.png"},{"id":"3b5919a5.d603c6","type":"switch","z":"dd2fe7c6.6f5358","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":785.5,"y":770.9999885559082,"wires":[["56faf0fc.7c4ae"],["104a5e3c.07bd02"]]},{"id":"104a5e3c.07bd02","type":"http request","z":"dd2fe7c6.6f5358","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.110.12/FF0800","tls":"","proxy":"","authType":"basic","x":971,"y":792.9999885559082,"wires":[[]]},{"id":"56faf0fc.7c4ae","type":"http request","z":"dd2fe7c6.6f5358","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.110.12/FF0801","tls":"","proxy":"","authType":"basic","x":971,"y":752.9999885559082,"wires":[[]]},{"id":"8463d186.22544","type":"inject","z":"dd2fe7c6.6f5358","name":"","topic":"KMTronic status query","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":144.01740264892578,"y":156.56608200073242,"wires":[["ca7d8831.ff02b8"]]},{"id":"ca7d8831.ff02b8","type":"http request","z":"dd2fe7c6.6f5358","name":"192.168.110.12","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.110.12/status.xml","tls":"","proxy":"","authType":"basic","x":362.0174026489258,"y":155.56608200073242,"wires":[["a54c31d6.ff528"]]},{"id":"a54c31d6.ff528","type":"xml","z":"dd2fe7c6.6f5358","name":"","property":"payload","attr":"","chr":"","x":132.51741790771484,"y":219.5660915374756,"wires":[["38b5d2af.d0041e"]]},{"id":"38b5d2af.d0041e","type":"function","z":"dd2fe7c6.6f5358","name":"JSON to Relay Status","func":"\nvar relay0 = { payload: msg.payload.response.relay0[0] === \"1\"  };\nvar relay1 = { payload: msg.payload.response.relay1[0] === \"1\"  };\nvar relay2 = { payload: msg.payload.response.relay2[0] === \"1\"  };\nvar relay3 = { payload: msg.payload.response.relay3[0] === \"1\"  };\nvar relay4 = { payload: msg.payload.response.relay4[0] === \"1\"  };\nvar relay5 = { payload: msg.payload.response.relay5[0] === \"1\"  };\nvar relay6 = { payload: msg.payload.response.relay6[0] === \"1\"  };\nvar relay7 = { payload: msg.payload.response.relay7[0] === \"1\"  };\nvar relay8 = { payload: msg.payload.response.relay8[0] === \"1\"  };\n\n\n\nreturn [relay0,relay1,relay2,relay3,relay4,relay5,relay6,relay7,relay8];","outputs":9,"noerr":0,"x":200.51740264892578,"y":414.56607818603516,"wires":[[],["1f63a62b.ecfbda"],["414598ca.b0f218"],["ec2c1289.f091c"],["cf5233f6.27dbd"],["4a8357dc.e63ff8"],["b97088fd.602418"],["659c4344.9c812c"],["369f42c1.7b3a7e"]],"inputLabels":["JSON KMTrol"],"outputLabels":["Relay 0","Relay 1","Relay 2","Relay 3","Relay 4","Relay 5","Relay 6","Relay 7","Relay 8"],"icon":"node-red/parser-xml.png"},{"id":"cb1d26ad.fdf918","type":"switch","z":"dd2fe7c6.6f5358","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":771.0173072814941,"y":509.0104236602783,"wires":[["7a5672e0.dc44ac"],["40fe6d88.527b24"]]},{"id":"ce107ff.863328","type":"trigger","z":"dd2fe7c6.6f5358","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":760,"y":560,"wires":[["727767c.17c1298"]]},{"id":"b97088fd.602418","type":"ui_button","z":"dd2fe7c6.6f5358","name":"","group":"89914d6b.aa5ac","order":3,"width":"4","height":"1","passthru":false,"label":"KMTronic 6 - Momentary","tooltip":"1 Second PTT for SmartLink","color":"yellow","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":570,"y":560,"wires":[["ce107ff.863328"]]},{"id":"b921b9d7.d0f138","type":"comment","z":"dd2fe7c6.6f5358","name":"Setup and Requirements","info":"This flow requires from the Pallet Manager\n\nDashboard - node-red-dashboard\n\nEvery http request will have to be edited with the\nIP address of your KMTronic WEB Switch (not UDP\nswitch).  Change 192.168.110.12 to the address\nof you KMTronic Switch.\n\nSwitch 6 is a PTT switch and by pressing it, it will\ntoggle on Switch 6 for 1 second - you can delete\nit if not required\n\nIn the initial setup of your KMTRonic switch turn \noff any authetication.  ","x":1230,"y":120,"wires":[]},{"id":"89914d6b.aa5ac","type":"ui_group","z":"","name":"Control","tab":"8374c1d8.027ff","order":2,"disp":true,"width":"4","collapse":true},{"id":"8374c1d8.027ff","type":"ui_tab","z":"","name":"Main Screen","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
